body{
    font-family: "Arial", Helvetica, sans-serif;
    background-color: #6C2A79;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.centeredImage
    {
    text-align:center;
    margin-top:0px;
    margin-left:390px;
    padding:0px;
    }

.Title
    {
    text-align:center;
    margin-top:8px;
    margin-left:0px;
    padding:0px;
    }

.info
{
    font-size:14pt;
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:200px; 
    width: 220px; 
    padding-left:10px; 
    padding-right:10px; 
  
}

.progress
    {
    text-align:center;
    margin-top:0px;
    margin-left:450px;
    padding:0px;
    }

label{
    width: 4em;
    float: left;
    margin-right: 0.9em;
    display: block
}

form#mp
{ margin-left:390px; padding:24px; width:350px; text-align: center}
form#mp > #p2, #p3, #showdata
{ display:none; }